/* Fixed in every pages */
@font-face {
    font-family: Reospec;
    src: url(fonts/Reospec.otf);
  }

@font-face {
    font-family: Babapro;
    src: url(fonts/Babapro-Ea4rr.otf);
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
  }

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#100720;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Background color of the scrollbar (The track) */
::-webkit-scrollbar-track {
    background: #F5D7DB;
  }

  /* How the handle looks like */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #F6FDC3;
  }
  
  /* Handle when hover */
::-webkit-scrollbar-thumb:hover {
    background: #854F6C;
  }


nav {
    text-align: center;
    background-attachment: fixed;
    background-color: #451952;
    padding-bottom: 30px;
}

figcaption {
    font-family: Reospec, sans-serif;
    font-size: 1.8em;
    color: #F5D7DB;
    caption-side: bottom;
}

.logo {
    align-items: center;
    max-height: 60px;
}

header ul li {
    display: inline;
}

.navi {
    font-family: Reospec, sans-serif;
    text-decoration: none;
    color: #F6FDC3;
    font-size: 1.4em;
    margin: 0 3% 0;
} 

.navi:hover , .navi:active {
    color: #D2E0FB;
    text-decoration: underline;
    transition: 0.5s ease 0s;
}

.navline {
    margin-top: 10px;
    border: 1.5px solid #FBE4D8;
}

h1 {
    font-size: 50px;
    font-family: Reospec, sans-serif;
}


/* Footer of every page */
footer {
    display: flex;
    flex-direction: column;
    background-color: #3F1D38;
    height: 200px;
}

/* Back to top section of the page button */
.back-to-top {
    border-style: none;
    border-radius: 4px;
    background-color: #453c67;
    margin: 20px 40%;
    cursor: pointer;
    height: 50px;
}

.back-to-top:hover, .back-to-top:active  {
    background-color: #100720;
    transition: 0.5s ease 0s;
}

.top-link {
    color: #F5D7DB;
    font-family: Babapro, sans-serif;
    text-decoration: none;
    font-size: 1.6em;
}

.top-link:hover, .top-link:active {
    color: #FDFDBD;
    transition: 0.5s ease 0s;
}

footer p {
    text-align: center;
    padding-top: 20px;
    color: #F5D7DB;
    font-family: Raleway, sans-serif;
}

.vroom {
    text-decoration: none;
    color: #F5D7DB;
}

.vroom:hover, .vroom:active {
    color: #FDFDBD;
    transition: 0.5s ease 0s;
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .back-to-top {
        margin: 20px 30%;
    }
}

/* Responsive design for mobile users: */
/* Use a media query to add a break point at 768px: */
/* 768px is average width of phone */
@media screen and (max-width:900px) {
    .navi, .nav1 {
        width:100%;
        float: left;
    }

    .navi {
        padding: 10px;
        margin: 5% 5% 0;
        border: 3px outset #D2E0FB;
        width: 85%;
    }

    /* Animation for mobile users */
    .navi:hover, .navi:active {
        border: 3px inset #FBE4D8;
        transition: 1.5s ease 0s;
    }
}



/* Fixed in every pages */
section > div {
    display: flex;
}


.introduction {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: Babapro;
    color: #FDE5EC;
    margin-bottom: 10px;
}

p {
    font-family: Raleway;
    color: #FFD2D7;
    margin-bottom: 30px;
}

article div {
    margin: 10px 0;
    padding: 20px 0;
}



/* Petrol page */

#coupe {
    text-align: left;
    background-color: #100720;
}

.coupe {
    width: 95%;
    user-select: none;
}

.coupe-desc {
    margin: 10% 5%;
}

#sedan {
    text-align: right;
    background-color: #100720;
}

.sedan {
    width: 80%;
    user-select: none;
}

#suv {
    text-align: left;
    background-color: #100720;
}

.suv {
    width: 80%;
    user-select: none;
}

.suv-img {
    width: 85%;   
}


/* about us */

